@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

/* Genel Stil Ayarları */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9; /* Soluk gri arka plan */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: "Sofia", sans-serif;
    text-align: center;
    color:#3a4c59;
}
Label {
    font-family: "Sofia", sans-serif;  
}
.gender{
    border: 1px solid #3a4c59;
    padding: 0.5rem;
    border-radius: 10px;
}
/* Buton Stili */
button {
    background: linear-gradient(145deg, #6e7f8c, #3a4c59); /* Gradient arka plan */
    color: black; /* Yazı rengi siyah */
    font-size: 1rem; /* Font boyutu */
    padding: 12px 25px; /* İçerik aralığı */
    border: none; /* Kenarlık yok */
    border-radius: 50px; /* Yuvarlatılmış köşeler */
    cursor: pointer; /* İmleç değişikliği */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Hafif gölge */
    transition: all 0.3s ease; /* Yumuşak geçiş */
    text-transform: uppercase; /* Metin büyük harflerle */
    font-weight: bold; /* Kalın yazı tipi */
    outline: none; /* Odak efekti yok */
    width: 100%;
    font-family: "Sofia", sans-serif;  
}

/* Hover Efekti */
button:hover {
    background: linear-gradient(145deg, #3a4c59, #6e7f8c); /* Hover sırasında renk değişimi */
    transform: translateY(-5px); /* Yüksekliğe doğru hareket */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Hover'da daha belirgin gölge */
}

/* Buton Disable Durumu */
button:disabled {
    background: #b0b0b0; /* Disable olduğunda gri ton */
    cursor: not-allowed; /* Tıklanamaz */
    box-shadow: none; /* Disable olduğunda gölgeyi kaldır */
}


/* Responsive Design */
@media (max-width: 480px) {
    form {
        padding: 20px;
    }
    button {
        width: 100%;
    }
}
