@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

body {
    background: linear-gradient(145deg, #6e7f8c, #3a4c59);
    width:100%;
}
.explanation {
   
    font-family: "Sofia", sans-serif;
    text-align: center;
    color:#e74c3c;
    padding: 1rem ; 
}

.link {
    color: white;
    text-decoration:none;
    font-size: 18px; 
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease; 
}

.link:hover {
    color: #e74c3c; 
    transform: scale(1.1); 
}

.link:focus {
    outline: 2px solid #f39c12; 
}
